DATABASE_URL="sqlite+aiosqlite:///./dev.db"
SECRET_KEY=secret_key_for_development_only
DEBUG_MODE=True
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_SECRET_KEY=refresh_secret_key_for_development_only
REFRESH_TOKEN_EXPIRE_MINUTES=10080
